@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Обработка данных</h5>
        <p class="card-text">
            Система управления дефектами обрабатывает следующие данные:
        </p>
        <ul>
            <li>Информация о пользователях (имя, email)</li>
            <li>Данные о строительных проектах</li>
            <li>Информация о дефектах и их статусах</li>
            <li>Комментарии и вложения к дефектам</li>
        </ul>

        <h5 class="card-title mt-4">Безопасность</h5>
        <p class="card-text">
            Все данные защищены с использованием современных методов шифрования и аутентификации.
            Пароли хранятся в хэшированном виде.
        </p>

        <h5 class="card-title mt-4">Доступ</h5>
        <p class="card-text">
            Доступ к системе предоставляется только авторизованным пользователям
            в соответствии с их ролями и правами доступа.
        </p>
    </div>
</div>