<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <i class="fas fa-hard-hat me-2"></i>Управление дефектами
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home me-1"></i>Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Projects" asp-action="Index">
                        <i class="fas fa-folder me-1"></i>Проекты
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Defects" asp-action="Index">
                        <i class="fas fa-bug me-1"></i>Дефекты
                    </a>
                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Reports" asp-action="Index">
                            <i class="fas fa-chart-bar me-1"></i>Отчеты
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-cogs me-1"></i>Администрирование
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                                    <i class="fas fa-users me-1"></i>Пользователи
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Roles">
                                    <i class="fas fa-user-tag me-1"></i>Роли
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>